<app-navmenu></app-navmenu>
<br/>
<div class="row">
    <div class="offset-md-1 col-md-11">
       
        <div class="card w-50"   *ngFor="let purchasedBook of bookDetailsPurchasedList" >
            <div class="card-body">
                <h5 class="card-title">{{purchasedBook.BookName}}</h5>
                <p class="card-text">{{purchasedBook.BookDescription}}</p>
                <div class="row">
                    <div class="col-md-6">
                        <div class="col-auto">
                            <label class="sr-only" for="inlineFormInputGroup">Price</label>
                            <div class="input-group mb-2">
                              <div class="input-group-prepend">
                                <div class="input-group-text">₹</div>
                              </div>
                              <input [value]="purchasedBook.Price" type="text" class="form-control" id="inlineFormInputGroup" placeholder="Price " readonly>
                            </div>
                          </div>

                    </div>
                    <div class="col-md-6">
                        <a href="#" class="btn btn-primary btn-sm">Write Review</a>
                    </div>

                </div>        
                           
            </div>
        </div>


        <br>

       
      
    </div>
</div>